<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>AddUser</title>
</head>

<body>
<form action="#" th:action="@{/addUser}" th:object="${user}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" required>
    <label for="character">Character</label>
    <input type="text" th:field="*{character}" id="character" required>
    <label for="IQ">Iq</label>
    <input type="text" th:field="*{IQ}" id="IQ" required>
    <input type="submit" value="Add">
</form>
</body>
</html>
