<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>EditUser</title>
</head>

<body>
<form name="updateUser" action="/editUser" method="post">
    <input type="hidden" name="id" th:value="${user.getId()}">
    <input required type="text" name="name" placeholder="Name" th:value="${user.getName()}">
    <input required type="text" name="password" placeholder="Password" th:value="${user.getPassword()}">
    <input required type="text" name="character" placeholder="Character" th:value="${user.getCharacter()}">
    <input required type="text" name="IQ" placeholder="iq" th:value="${user.getIQ()}">
    <td><select name="rolesUpdateUser" multiple required placeholder="Role">
        <option disabled>Select roles</option>
        <div th:each="Role : ${rolesList}">
            <option th:value="${Role.id}" th:text="${Role.role}"/>
        </div>
    </select>
        <input type="submit" name="button" value="Update"></td>
</form>
</body>
</html>
