<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h2>Users</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Character</th>
        <th>Iq</th>
        <th>action</th>
    </tr>
    <tr th:each="User : ${usersList}">
        <td th:utext="${User.id}">Id</td>
        <td th:utext="${User.name}">Name</td>
        <td th:utext="${User.character}">Character</td>
        <td th:utext="${User.IQ}">IQ</td>
        <td><a th:href="@{/edit/{id}(id=${User.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${User.id})}">Delete</a></td>
    </tr>
</table>
<h2>Add</h2>
<a href="/add">Add new user</a>
</body>
</html>
