<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>

<body>

<style>
    html, body {
        height: 100%;
    }

    .flex-fill {
        flex: 1;
    }
</style>

<div id="editUser" th:attrappend="id=${User.id}" class="modal fade" th:each="User : ${usersList}">
    <form class="form" name="updateUser" action="/admin/editUser" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="card text-center">
                    <div class="card-header font-weight-bolder text-left bg-white">
                        Edit user
                        <button class="close" data-dismiss="modal">x</button>
                    </div>
                    <input type="hidden" name="id" th:value="${User.getId()}">
                    <div class="form-group mx-auto w-50">
                        <label class="font-weight-bolder">Name</label>
                        <input required type="text" class="form-control form-control-sm" name="name"
                               placeholder="Name" th:value="${User.getName()}">
                    </div>
                    <div class="form-group mx-auto w-50">
                        <label class="font-weight-bolder">Password</label>
                        <input required type="text" class="form-control form-control-sm" name="password"
                               placeholder="Password" th:value="${User.getPassword()}">
                    </div>
                    <div class="form-group mx-auto w-50">
                        <label class="font-weight-bolder">Character</label>
                        <input required type="text" class="form-control form-control-sm" name="character"
                               placeholder="Character" th:value="${User.getCharacter()}">
                    </div>
                    <div class="form-group mx-auto w-50">
                        <label class="font-weight-bolder">IQ</label>
                        <input required type="text" class="form-control form-control-sm" name="IQ"
                               placeholder="iq" th:value="${User.getIQ()}">
                    </div>
                    <div class="form-group mx-auto w-50">
                        <label class="font-weight-bolder">Role</label>
                        <select class="form-control form-control-sm" name="rolesUpdateUser" multiple required>
                            <div th:each="Role : ${rolesList}">
                                <option th:value="${Role.id}" th:text="${Role.role}"
                                        th:selected="${User.getRolesSet().contains(Role)}"></option>
                            </div>
                        </select>
                    </div>
                    <div class="card-footer text-right bg-white">
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input class="btn btn-primary" type="submit" value="Edit"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="deleteUser" th:attrappend="id=${User.id}" class="modal fade" th:each="User : ${usersList}">
    <form class="form" name="deleteUser" action="/admin/deleteUser" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="card text-center">
                    <div class="card-header font-weight-bolder text-left bg-white">
                        Delete user
                        <button class="close" data-dismiss="modal">x</button>
                    </div>
                    <input type="hidden" name="id" th:value="${User.getId()}">
                    <div class="form-group mx-auto w-50">
                        <label class="font-weight-bolder">Name</label>
                        <input required type="text" class="form-control form-control-sm" name="name"
                               placeholder="Name" th:value="${User.getName()}" readonly>
                    </div>
                    <div class="form-group mx-auto w-50">
                        <label class="font-weight-bolder">Character</label>
                        <input required type="text" class="form-control form-control-sm" name="character"
                               placeholder="Character" th:value="${User.getCharacter()}" readonly>
                    </div>
                    <div class="form-group mx-auto w-50">
                        <label class="font-weight-bolder">IQ</label>
                        <input required type="text" class="form-control form-control-sm" name="IQ"
                               placeholder="iq" th:value="${User.getIQ()}" readonly>
                    </div>
                    <div class="form-group mx-auto w-50 text-black-50">
                        <label class="font-weight-bolder">Role</label>
                        <select class="form-control form-control-sm bg-light" name="rolesUpdateUser" multiple required>
                            <div th:each="Role : ${rolesList}">
                                <option th:value="${Role.id}" th:text="${Role.role}"
                                        th:selected="${User.getRolesSet().contains(Role)}" disabled></option>
                            </div>
                        </select>
                    </div>
                    <div class="card-footer text-right bg-white">
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input class="btn btn-danger" type="submit" value="Delete"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid d-flex h-100 flex-column">
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <div>
        <a class="navbar-text font-weight-bolder text-white" th:utext="${user.name}">name</a>
        <a class="navbar-text text-white">with roles: </a>
        <a class="navbar-text text-white" th:utext="${user.roles}">roles</a>
        </div>
        <a class="text-white-50" href="#" th:href="@{/logout}">Logout</a>
    </nav>
    <div class="row pt-5 bg-light flex-fill d-flex justify-content-start">
        <div class="col col-md-2 bg-white portlet-container portlet-dropzone">
            <div class="d-inline-block"></div>
            <div class="list-group">
                <a href="/admin" class="list-group-item active">Admin</a>
                <a href="/admin/userAdmin" class="list-group-item">User</a>
            </div>
        </div>
        <div class="col col-md-10 portlet-container portlet-dropzone">
            <div class="mt-3 d-inline-block" style="width: 100%">
                <h2 class="text-left">User information page</h2>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin">Users tabe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/addUser">New user</a>
                    </li>
                </ul>
                <div class="card">
                    <div class="card-header font-weight-bolder">
                        All users
                    </div>
                    <div class="card-body">
                        <table class="table-striped w-100">
                            <thead>
                            <tr>
                                <th class="p-2">Id</th>
                                <th class="p-2">Name</th>
                                <th class="p-2">Character</th>
                                <th class="p-2">Iq</th>
                                <th class="p-2">Role</th>
                                <th class="p-2" style="width: 9%">Edit</th>
                                <th class="p-2" style="width: 9%">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="table-striped w-100" th:each="User : ${usersList}">
                                <td class="p-2" th:utext="${User.id}">Id</td>
                                <td class="p-2" th:utext="${User.name}">Name</td>
                                <td class="p-2" th:utext="${User.character}">Character</td>
                                <td class="p-2" th:utext="${User.IQ}">IQ</td>
                                <td class="p-2" th:utext="${User.roles}">Role</td>
                                <td class="p-2" style="width: 9%"><a class="btn btn-primary text-white"
                                                                     data-toggle="modal"
                                                                     data-target="#editUser"
                                                                     th:attrappend="data-target=${User.id}">Edit</a>
                                </td>
                                <td class="p-2" style="width: 9%"><a class="btn btn-danger text-white"
                                                                     data-toggle="modal"
                                                                     data-target="#deleteUser"
                                                                     th:attrappend="data-target=${User.id}">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"-->
<!--        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"-->
<!--        crossorigin="anonymous"></script>-->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
